<section class="container">
        <div class="header">
            <h1 class="l-heading">
                Take Care Of Your Body, It's The Only Place You Have To Live.
            </h1>
        </div>
        <div class="side bg-dark p-2">
            <div class="img">
                <img src="./imgs/background.jpg" alt="body">
            </div>
            <div id="facts" class="bg-light py-1">
                <h2 id="text-center"><span class="text-primary">Did </span>You Know?</h2>
                <div class="item">
                    <i class="fas fa-question-circle fa-2x"></i>
                    <div>
                        <ul class="list">
                            <li>Only 10% of people are <strong>successful</strong> at losing weight through diet alone
                            </li>
                            <li><strong>Myth:</strong> The more you sweat the more calories you burn </li>
                            <li><strong>Macronutrients </strong>make up calories, and your total calorie intake is going
                                to determine whether you
                                gaining or losing weight</li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <i class="far fa-question-circle fa-2x"></i>
                    <div>
                        <h3></h3>
                        <ul class="list">
                            <li><strong>10 minutes</strong> of exercise will help raise your heart rate & maintain
                                fitness </li>
                            <li><strong>Everyone </strong>can reap the benefits of physical activity, regardless of Age,
                                Shape, or Size </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <section id="aboutUs">
                <h2 id="text-center"><span class="text-primary">About</span> Co-Fit19</h2>
                <p>
                    Here at CoFit-19 we are committed to providing you with all your fitness needs.
                    You will find that you can
                    And when you sign up you are given access to a custom plan suited for your particular
                    fitness needs.
                    Here you will find:
</p>
            <ul>
                <li>Daily Food Log</li>
                <li>BMI Calculator</li>
                <li>Macros Calculator</li>
                <li>Personalized Workouts</li>
            </ul>
            </section>
            <section class="meetUs">
                <div class="wow bounceIn">
                    <h2> Meet The Team </h2>
                    <ul id="meetUs">
                        <li><a class="btn" href="https://github.com/elliotfouts/">Elliot</a></li>
                        <li><a class="btn" href="https://github.com/jmorales113">Jorge</a></li>
                        <li><a class="btn" href="https://github.com/sboulom">Steven</a></li>
                        <li><a class="btn" href="https://github.com/gwenniegwen">Gwendolyn</a></li>
                    </ul>
                </div>
        </div>
    </section>