
<div class="container">
    <div class="side-menu">
        <a href="/myplan">Daily Log</a>
        <a href="/myplan/bmi-calculator">BMI Calculator</a>
        <a href="/myplan/macro-calculator">Macro Calculator</a>
        <a href="/myplan/workouts">Workouts</a>
    </div>
    <div class="main">
        <h1 class="main-title">BMI Calculator</h1>
        <form action="/myplan/bmi-calculator" action="POST">

                <div class="form-row">
                    <select name="identity">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="no-preference">No preference</option>
                    </select>
                </div>
                <br>
                <div class="form-row">
                    <input type="text" class="height" placeholder="Height">
                    <select name="height-info">
                        <option value="in">in.</option>
                        <option value="cm">cm.</option>
                    </select>
                </div>
                <br>
                <div class="form-row">
                    <input type="text" class="weight" placeholder="Weight">
                    <select name="weight-info">
                        <option value="lbs">lbs.</option>
                        <option value="kgs">kgs.</option>
                    </select>
                </div>
                <div>
                <button class = "button" type="submit" >Calculate</button>
                <h1 class="bmi-calculation"></h1>
                </div>

        </form>
    </div>

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>

    $("document").ready(function() {

        let form = $("form")

        form.on("submit", function(event){
            event.preventDefault()
            let result = $(".bmi-calculation")

            function calculateBMI() {
            let height = $(".height").val()
            let weight = $(".weight").val()
            let bmi = weight / (height * height)
            return bmi.toFixed(2)
            }

            result.html(`YOUR ESTIMATED BMI IS ${calculateBMI()}`)
        })
    })
        
</script>

