<div class="container">
    <div class="side-menu">
        <a href="/myplan">Daily Log</a>
        <a href="/myplan/bmi-calculator">BMI Calculator</a>
        <a href="/myplan/macro-calculator">Macro Calculator</a>
        <a href="/myplan/workouts">Workouts</a>
    </div>
<div class="main">
<h2>Calorie Intake</h2>
<form class="pure-form">
    <fieldset>
        <input  placeholder="Calories Used" readonly>
        <input  placeholder="2000" readonly>
</form>
<h2>Macros</h2>
<table class="pure-table pure-table-horizontal">
<tbody>
        <tr>
            <td>Fat</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Protein</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Carbs</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
</table>
<h2 id="history">History</h2>
<table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>Date</th>
            <th>Fat</th>
            <th>Protein</th>
            <th>Carbs</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>