{{!-- Exercise Pre log in --}}
<br>
<form class="pure-form">
    <input class="pure-input-2-3" type="text" placeholder="Enter a muscle group to find exercise">
    <i class="fas home-search-button fa-search fa"></i>
</form>
<div class="exerciseDisplay">
{{!-- <ol>
    {{#each}}
    {{/each}}
</ol> --}}


</div>