<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/home.css">
    <title>Welcome | CoFit-19</title>
</head>
<body>
    <div id="overlay"></div>
    <div class="background-video">
      <video src="./imgs/movie.mp4" class="video" autoplay loop muted></video>
    </div>
    <div class="container">
      <header>
        <nav>
            <a class="nav-link" href="/about">About</a>
            <a class="nav-link" href="/nutrition">Nutrition</a>
        </nav>
        <div>
            <span style="font-size: 1.3rem;"><a href="/login">Login</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/register">Sign Up</a></span>
        </div>
      </header>
    
        <div class="title-container">
            <h1 id="title">CoFit-19</h1>
            <h2 id="subtitle">Commit to be fit</h2>
        </div>
    </div>


    
</body>
</html>