<div class="container">
    <div class="side">
        <a href="/myplan">Daily Log</a>
        <a href="/myplan/bmi-calculator">BMI Calculator</a>
        <a href="/myplan/macro-calculator">Macro Calculator</a>
        <a href="/myplan/workouts">Workouts</a>
    </div>
    <div class="main">
        <h2 class="main-title">Macro Calculator</h2>
        <form action="/myplan/macro-calculator" action="POST">
                <div class="formRow">
                    <input id="height-ft" type="number" class="form-input" placeholder="5'">
                    <input id="height-in" type="number" class="form-input" placeholder='9"'>
                </div>
                <div class="formRow">
                    <input id="weightInput" type="number" class="form-input" placeholder="Weight">
                    <select class="formRow-select" i>
                        <option value="lbs">lbs.</option>
                        <option value="kgs">kgs.</option>
                    </select>
                </div>
                <div class="formRow">
                    <input id="ageInput" type="number" class="form-input" placeholder="Age">
                </div>
                <div class="formRow">
                    <select id="genderInput">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="decline">No Preference</option>
                    </select>
                </div>
                <div class="formRow">
                <select id="amtExercise">
                    <option value="noEx">Little to no exercise</option>
                    <option value="moderateEx">Moderate exercise</option>
                    <option value="regularEx">Regularly exercise</option>
                </select>
                </div>
                <div class="formRow">
                    <button id ="save" class = "button" type="submit" >Calculate</button>
                    <h1 class="displayCalPerDay"></h1>
                </div>
            </fieldset>
        </form>
    </div>
</div>
