<div class="container">
    <div class="side">
        <a href="/myplan">Daily Log</a>
        <a href="/myplan/bmi-calculator">BMI Calculator</a>
        <a href="/myplan/macro-calculator">Macro Calculator</a>
        <a href="/myplan/workouts">Workouts</a>
    </div>
    <div class="main">
        <h2 class="main-title">Macro Calculator</h2>
        <form action="/myplan/macro-calculator" action="POST">
                <div class="formRow">
                    <input id="heightInput" type="text" class="pure-input-1-2" placeholder="Height ex 5.6">
                    <select id="unit">
                        <option value="in">in.</option>
                        <option value="cm">cm.</option>
                    </select>
                </div>
                <div class="formRow">
                    <input id="weightInput" type="text" class="pure-input-1-2" placeholder="Weight">
                    <select>
                        <option value="lbs">lbs.</option>
                        <option value="kgs">kgs.</option>
                    </select>
                </div>
                <div class="formRow">
                    <input id="ageInput" type="text" class="pure-input-1-2" placeholder="Age">
                </div>
                <div class="formRow">
                    <select id="genderInput">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="decline">No Preference</option>
                    </select>
                </div>
                <div class="formRow">
                <select id="amtExercise">
                    <option value="noEx">Little to no exercise</option>
                    <option value="moderateEx">Moderate exercise</option>
                    <option value="regularEx">Regularly exercise</option>
                </select>
                </div>
               <button id ="save" class = "button" type="submit" >Calculate</button>
                <h1 class="bmi-calculation"></h1>
            </fieldset>
        </form>
    </div>
    <div class="card">
        <div class="card-container">
            <h3>Total number of calories you need to maintain your current weight</h3>
            <p class="displayCalPerDay"></p>

        </div>
    </div>
</div>
