<div class="container">
    <div class="side">
        <a href="/myplan">Daily Log</a>
        <a href="/myplan/bmi-calculator">BMI Calculator</a>
        <a href="/myplan/macro-calculator">Macro Calculator</a>
        <a href="/myplan/workouts">Workouts</a>
    </div>
    <div class="main">
        <h2 class="main-title">Macro Calculator</h2>
        <form action="/myplan/macro-calculator" action="POST">
                <div class="formRow">
                    <input type="text" name="height" placeholder="Height">
                    <select  class="formRow-select" name="heightUnit">
                        <option value="in">in</option>
                        <option value="cm">cm</option>
                    </select>
                </div>
                <div class="formRow">
                    <input type="text" name="weight" placeholder="Weight">
                    <select class="formRow-select" name="weightUnit">
                        <option value="lbs">lbs</option>
                        <option value="kgs">kgs</option>
                    </select>
                </div>
                <div class="formRow">
                    <input type="text" name="age" placeholder="Age">
                </div>
                <div class="formRow">
                    <select name="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="decline">Decline to identify</option>
                    </select>
                </div>
                <div class="formRow">
                    <select name="exerciseLevel">
                        <option value="noEx">Little to no exercise</option>
                        <option value="moderateEx">Moderate exercise</option>
                        <option value="regularEx">Regularly exercise</option>
                    </select>
                </div>
                <button type="submit" >Calculate</button>
        </form>
    </div>

</div>

