{{!-- Nutrition pre log in --}}
<br>
<form class="pure-form">
    <input class="pure-input-2-3" type="text" placeholder="Find nutritional value">
    <i class="fas home-search-button fa-search fa"></i>
</form>
<div class="nutritionDisplay">
{{!-- <ol>
    {{#each}}
    {{/each}}
</ol> --}}


</div>