{{!-- Nutrition pre log in --}}
<br>
<form class="pure-form">
    <input class="pure-input-2-3" type="text" placeholder="Find nutritional value">
    <i class="fas home-search-button fa-search fa"></i>
</form>
<div class="nutritionDisplay">
{{!-- <ol>
    {{#each}}
    {{/each}}
</ol> --}}


</div>

 <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="nutrition.js"></script>

