{{!-- Nutrition pre log in --}}
<br>
<form class="pure-form">
    <input id="value" class="pure-input-2-3" type="text" placeholder="Find nutritional value">
    <i id="button-search" class="fas home-search-button fa-search fa"></i>
</form>
<div class="nutritionDisplay">
    {{!-- <div class="nutrition-card">
		<h3>Big Mac</h3>
		<ul>
			<p>calories: 500</p>
			<p>protein: 10</p>
			<p>fat: 30</p>
			<p>carbohydrates: 60</p>
		</ul>
	</div> --}}
</div>

 <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="./js/nutrition.js"></script>
