<div class="container">
    <form class="pure-form pure-form-aligned" action="/register" method="POST">
            <div class="pure-control-group">
                <input name="email" id="email" type="text" placeholder="Email Address" value="{{email}}">
            </div>

            <div class="pure-control-group">
                <input name="password" id="password" type="password" placeholder="Password">
            </div>
            <div class="pure-control-group">
                <input name="password2" id="password2" type="password" placeholder="Confirm Password">
            </div>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Create Account</button>
            </div>
    </form>
</div>

<div class="register-alert-container">
{{#if errors}}
    {{#each errors}}
        <p class="register-alert">{{message}}</p>
    {{/each}}
{{/if}}
</div>

