<div class="container">
    <div class="side-menu">
        <a href="/myplan">Daily Log</a>
        <a href="/myplan/bmi-calculator">BMI Calculator</a>
        <a href="/myplan/macro-calculator">Macro Calculator</a>
        <a href="/myplan/workouts">Workouts</a>
    </div>

    <div class="main">
            <div>
                <h1 class="main-title">WORKOUTS</h1>
                <button class="button" type="submit" >ADD A NEW WORKOUT </button>
            </div>
            <br>
            <div class = "text-box">
                <h1 class="workouts-title">TITLE</h1>
                <p class="para-one">Length</p>
                <ul class="list"> 
                    <li>Exercise 1</li>
                    <li>Exercise 2</li>
                    <li>Exercise 3</li>
                </ul>
                <p class="para-two">3 sets / 5 reps</p>
                {{!-- <p class="para-three">3 sets / 5 reps</p>
                <p class="para-four">3 sets / 5 reps</p> --}}
            </div>
    </div>
</div>

    <style>
         .container {
        display: grid;
        width: 100%;
        height: 80vh;
        grid-template-areas:
            "s m m m";
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

           .side-menu {
        grid-area: s;
        background-color: grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 1.5rem;
        color: #fff;
        margin: 3rem;
    }

        .main {
        grid-area: m;
    }
        .main-title {
            display:inline-block;
        }

        .button {
        font-size: 1rem;
        color: black;
        background-color: grey;
        padding: 1rem 2rem;
        transition: all 300ms;
        float: right;
        margin-right: 30px;
        display:inline-block;
        margin-top: 17px;
        
    }

        .text-box {
            width: 92%;
            height: 76%;
            padding: 5px;
            border: 1px solid black;
        }

        .workouts-title {
            font-size: 50px;
            margin-left: 20px;
            display: inline-block;
            
        }

        .para-one {
            display: inline-block;
            float: right;
            margin-right: 20px;
            margin-top: 50px;
        }

        .list {
            list-style-type: circle;
            margin-left: 50px;
        }

        li {
            padding: 40px;
            font-size: 20px;
        }

        .para-two {
            float: right;
            margin-right: 20px;
        }

        .para-three {

        }

        .para-four {

        }

    </style>
