<div class="container">
    <div class="side-menu">
        <a href="/myplan">Daily Log</a>
        <a href="/myplan/bmi-calculator">BMI Calculator</a>
        <a href="/myplan/macro-calculator">Macro Calculator</a>
        <a href="/myplan/workouts">Workouts</a>
    </div>

    <div class="main">
            <div>
                <h1 class="main-title">WORKOUTS</h1>
            </div>
            <br>
            <div class = "text-box">
                <h1 class="workouts-title">TITLE</h1>
                <p class="para-one">Length</p>
                <ul class="list">
                    <li>Exercise 1</li>
                    <li>Exercise 2</li>
                    <li>Exercise 3</li>
                </ul>
                <p class="para-two">3 sets / 5 reps</p>
                {{!-- <p class="para-three">3 sets / 5 reps</p>
                <p class="para-four">3 sets / 5 reps</p> --}}
            </div>
    </div>
</div>

