<div class="container">
    <div class="side-menu">
        <a href="/myplan">Daily Log</a>
        <a href="/myplan/bmi-calculator">BMI Calculator</a>
        <a href="/myplan/macro-calculator">Macro Calculator</a>
        <a href="/myplan/workouts">Workouts</a>
    </div>

    <div class="main">
            <h1 class="main-title">WORKOUTS</h1>
            <div class = "workout-card">
                <div class="workout-card-top">
                    <h1 class="workout-card-title">Abs</h1>
                    <p class="workout-length">15 minutes</p>
                </div>
                <ul class="workout-card-workout">
                    <li><p>Plank</p><p>3 sets / 45 sec</p></li>
                    <li><p>Dumbell Crunch</p><p>3 sets / 25 reps</p></li>
                    <li><p>Russian Twists</p><p>3 sets / 25 reps</p></li>
                    <li><p>Leg Raises</p><p>3 sets / 25 reps</p></li>
                </ul>
            </div>
            <div class = "workout-card">
                <div class="workout-card-top">
                    <h1 class="workout-card-title">Abs</h1>
                    <p class="workout-length">15 minutes</p>
                </div>
                <ul class="workout-card-workout">
                    <li><p>Plank</p><p>3 sets / 45 sec</p></li>
                    <li><p>Dumbell Crunch</p><p>3 sets / 25 reps</p></li>
                    <li><p>Russian Twists</p><p>3 sets / 25 reps</p></li>
                    <li><p>Leg Raises</p><p>3 sets / 25 reps</p></li>
                </ul>
            </div>
            <div class = "workout-card">
                <div class="workout-card-top">
                    <h1 class="workout-card-title">Abs</h1>
                    <p class="workout-length">15 minutes</p>
                </div>
                <ul class="workout-card-workout">
                    <li><p>Plank</p><p>3 sets / 45 sec</p></li>
                    <li><p>Dumbell Crunch</p><p>3 sets / 25 reps</p></li>
                    <li><p>Russian Twists</p><p>3 sets / 25 reps</p></li>
                    <li><p>Leg Raises</p><p>3 sets / 25 reps</p></li>
                </ul>
            </div>
            <div class = "workout-card">
                <div class="workout-card-top">
                    <h1 class="workout-card-title">Abs</h1>
                    <p class="workout-length">15 minutes</p>
                </div>
                <ul class="workout-card-workout">
                    <li><p>Plank</p><p>3 sets / 45 sec</p></li>
                    <li><p>Dumbell Crunch</p><p>3 sets / 25 reps</p></li>
                    <li><p>Russian Twists</p><p>3 sets / 25 reps</p></li>
                    <li><p>Leg Raises</p><p>3 sets / 25 reps</p></li>
                </ul>
            </div>
    </div>
</div>

