<div class="container">
    <div class="side-menu">
        <a href="/myplan">Daily Log</a>
        <a href="/myplan/bmi-calculator">BMI Calculator</a>
        <a href="/myplan/macro-calculator">Macro Calculator</a>
        <a href="/myplan/workouts">Workouts</a>
    </div>

    <div class="main">
            <h1 class="main-title">WORKOUTS</h1>
            <div class = "workout-card">
                <div class="workout-card-top">
                    <h1 class="workout-card-title">Abs</h1>
                    <p class="workout-length">15 minutes</p>
                </div>
                <ul class="workout-card-workout">
                    <li><p>Plank</p><p>3 sets / 45 sec</p></li>
                    <li><p>Dumbell Crunch</p><p>3 sets / 25 reps</p></li>
                    <li><p>Russian Twists</p><p>3 sets / 25 reps</p></li>
                    <li><p>Leg Raises</p><p>3 sets / 25 reps</p></li>
                </ul>
            </div>
            <div class = "workout-card">
                <div class="workout-card-top">
                    <h1 class="workout-card-title">Biceps</h1>
                    <p class="workout-length">30 minutes</p>
                </div>
                <ul class="workout-card-workout">
                    <li><p>Bicep Curls</p><p>4 sets / 10 reps</p></li>
                    <li><p>Standing Dumbbell Curls</p><p>4 sets / 10 reps</p></li>
                    <li><p>Bicep Curl 7's</p><p>4 sets / 7 reps</p></li>
                    <li><p>Hammer Curls</p><p>4 sets / 10 reps</p></li>
                </ul>
            </div>
            <div class = "workout-card">
                <div class="workout-card-top">
                    <h1 class="workout-card-title">Chest</h1>
                    <p class="workout-length">45 minutes</p>
                </div>
                <ul class="workout-card-workout">
                    <li><p>Chest Fly</p><p>4 sets / 10 reps</p></li>
                    <li><p>Push-Ups</p><p>4 sets / 10 reps</p></li>
                    <li><p>Chest Dips</p><p>4 sets / 10 reps</p></li>
                    <li><p>Diamond Press Up</p><p>3 sets / 10 reps</p></li>
                </ul>
            </div>
            <div class = "workout-card">
                <div class="workout-card-top">
                    <h1 class="workout-card-title">Legs</h1>
                    <p class="workout-length">60 minutes</p>
                </div>
                <ul class="workout-card-workout">
                    <li><p>Squats</p><p>3 sets / 10 reps</p></li>
                    <li><p>Lunges</p><p>3 sets / 10 reps each side</p></li>
                    <li><p>Calf Raises</p><p>3 sets / 10 reps</p></li>
                    <li><p>Glute Bridge</p><p>3 sets / 10 reps</p></li>

                </ul>
            </div>
    </div>
</div>

