@import url('https://fonts.googleapis.com/css?family=Anton|Roboto&display=swap');

*{box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{
      font-family: 'Roboto', sans-serif;
  }

#aboutUs{
   margin: auto;
   font-size: 24px;
    }
    
#benefits li{
        flex-direction: row;
        display: flex;
        align-self: center;
        margin: auto;
    }

.btn{
    background-color: #ffa41b;
    border: solid 1px #00a8cc;
    border-radius: 10%;
    box-shadow: 10px 0px 15px -5px rgba(0,0,0,0.75);
    color: black;
    cursor: pointer;
    padding: 7px;
    font-family: "Anton";
    font-size: 15px;
    text-decoration: none;
    list-style: none;}

  
.container {
    /* build the grid */
    display: grid;
    width: 100%;
    /* height: 100vh; */
    grid-template-areas: 
    "h h h h"
    "s s m m"
    "s s m m";
    grid-template-rows: 20vh 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
    /* style the grid */
    background: url(../imgs/yellow.jpg) no-repeat center center/cover;
    color: #333333;
    height:100%;
    }
    
h2{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    }
    
.header {
    grid-area: h;
    
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.img{
    box-shadow: 10px 0px 15px -5px rgba(0,0,0,0.75);
    overflow: hidden;
    width: inherit;
}

.item .list{
    align-content: center;
    display: flex;
    flex:1;
    margin: auto;
}
 
.item i{
    background: #00a8cc;
    border-radius: 50%;
    padding: 2px
}

.item{
   text-align: center;
}

.list li{
    margin: 0.5rem 0;
    list-style: none;
}

    

   
.main {
    grid-area: m;
    /* border: solid black 2px; */
    box-shadow: 10px 0px 15px -5px rgba(0,0,0,0.75);
    margin: 10px, 10px, 10px, 10px;
    padding: 5px, 5px, 5px, 5px;
    }
    
    
#meetUs li {
        padding: 0.3rem 0;
    }

#meetUs{
        display: flex;
        flex: 1;
        justify-content: space-around;
        
    }
    
#meetUs li{
        list-style: none;
    }
    
#meetNames{
        display: flex;
        flex-direction: row;
        margin-top: 25px;
        
    }
    
#meetTeam{
        justify-content: center;
        align-self: center;
        margin-top: 100px;
        flex: 1;
        flex-direction: row;
        
    }

.meetUs{
        margin-top: 50px;
        flex-direction: row;
        flex: 1;
        justify-content: center;
        align-content: flex-end;
    }
   
.side {
        grid-area: s;
        
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 20px;
        padding: auto;
        } 
 

        .text-primary{
     color: #c70039;
 }
 
 #text-center{
     text-align:center;
     margin-top: 5px;
     padding: 5px;
    }
 
  
.responsive {
    max-width: 100%;
    height: auto;
    flex-direction: column;
	padding-bottom: 1rem;
}

@media (max-width: 900px) {
	.pure-menu {
		flex-direction: column;
		padding-bottom: 1rem;
    }
}