h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
        "s m m m";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: url(../imgs/yellow.jpg) no-repeat center center/cover;
    color: #333333;
    height:100%;
}
.side-menu {
    grid-area: s;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    color: #fff;
    margin: 3rem;
}
.side-menu a {
    transition: color 300ms;
}

.side-menu a:hover {
    color: rgb(197, 197, 197);
}
.main{
    grid-area: m;
    margin: 3rem;
    margin-top: 0rem;
}
#history{
    align-self: center;
    justify-self: center;
}

.form-row {
    display: flex;
}
.form-row input {
    flex-grow: 1;
    margin: .5rem;
    font-size: 1.2rem;
    padding: .5rem;
}
.form-button {
    padding: 1rem 2rem;
    background: grey;
    color: #fff;
}


@media (max-width: 1250px) {
    .container {
        grid-template-areas:
            "s"
            "m";
        grid-template-columns: 1fr;
    }
    .side-menu {
        flex-direction: row;
        margin: 0rem;
        padding: 2rem;
    }
}

@media (max-width: 800px) {
    .side-menu {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    input, select {
        font-size: 1rem;
    }
    .side-menu {
        font-size: .8rem;
    }
.bmi-calculation {
    display: inline-block;
    text-align: center;
    margin-left: 200px;
}
}