.container {
    display: flex;
    justify-content: center;
    padding: 5rem;
    background: url(../imgs/yellow.jpg) no-repeat center center/cover;
    color: #333333;
    height:100vh;
}
form {
    width: 50%;
}
form input {
    width: 100%;
}
.pure-form-aligned .pure-controls {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}