.register-alert-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: url(../imgs/yellow.jpg)  center/cover;
}
.register-alert {
    background: rgb(255, 186, 186);
    color: rgb(170, 46, 46);
    padding: 1rem;
    width: 50%;
    text-align: center;
    margin-bottom: 1rem;
}
.container {
    display: flex;
    justify-content: center;
    padding: 5rem;
    background: url(../imgs/yellow.jpg)  center/cover;
    color: #333333;
    height: 100vh;
}
form {
    width: 50%;
}
form input {
    width: 100%;
}
.pure-form-aligned .pure-controls {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}