/* global attributes */

* {
	box-sizing: border-box;
}

body {
	color: #222;
	background: #eee;
}

a {
	text-decoration: none;
	color: #ffa41b;
	border-radius: 10%;
}



/* header */

.pure-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background:#00a8cc ;
	border-bottom: 1px #000 solid;
}

.pure-menu-heading {
	font-size: 4rem;
}

.pure-menu-list a {
	transition: color 300ms;
}

.pure-menu-list a:hover {
	color: #000;
}

@media (max-width: 900px) {
	.pure-menu {
		flex-direction: column;
		padding-bottom: 1rem;
	}
}

@media (max-width: 600px) {
	.pure-menu-list {
		padding: 0rem;
	}
}
