/* global attributes */

* {
	box-sizing: border-box;
}

body {
	color: #222; 
	background: #eee;
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: #ffa41b;
	border-radius: 2rem;
}



/* header */

.pure-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background:#4194a2 ;
	border-bottom: 1px #000 solid;
	color: #fff;
}

.pure-menu-heading {
	font-size: 4rem;
	color: #fff;
	transition: all 300ms;
}

.nav {
	display: flex;
	align-items: center;
}

.nav-link {
	font-size: 1.2rem;
	color: #fff;
	margin: 1rem;
}


.nav-link {
	transition: color 300ms;
}

.nav-link:hover, 
.pure-menu-heading:hover {
	color:  #000000;
}

@media (max-width: 900px) {
	.pure-menu {
		flex-direction: column;
		padding-bottom: 1rem;
	}
}

@media (max-width: 600px) {
	.pure-menu-list {
		padding: 0rem;
	}
}
