.container {
    display: grid;
    width: 100%;
    /* height: 80vh; */
    grid-template-areas:
        "s m m m";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: url(../imgs/yellow.jpg) no-repeat center center/cover;
    color: #333333;
    height:100%;
}

.side-menu {
    grid-area: s;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    color: #fff;
    margin: 3rem;
    max-height: 60vh;
}
.side-menu a {
    transition: color 300ms;
}

.side-menu a:hover {
    color: rgb(197, 197, 197);
}

.main {
    grid-area: m;
}

.main-title {
    margin-left: 3rem;
}

.workout-card {
    padding: 2rem;
    border: 1px solid black;
    margin: 3rem;
}

.workout-card-title {
    font-size: 50px;
    margin: 0;
}

.workout-card-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.workout-card-workout {
    margin-left: 2rem;
}

.workout-card-workout li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}



@media (max-width: 1250px) {
    .container {
        grid-template-areas:
            "s"
            "m";
        grid-template-columns: 1fr;
    }
    .side-menu {
        flex-direction: row;
        margin: 0rem;
        padding: 2rem;
    }
}

@media (max-width: 800px) {
    .side-menu {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    input, select {
        font-size: 1rem;
    }
    .side-menu {
        font-size: .8rem;
    }
}
