.container {
    display: grid;
    width: 100%;
    height: 80vh;
    grid-template-areas:
        "s m m m";
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

       .side-menu {
    grid-area: s;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    color: #fff;
    margin: 3rem;
}

    .main {
    grid-area: m;
}

    .button {
    font-size: 1rem;
    color: black;
    background-color: grey;
    padding: 1rem 2rem;
    transition: all 300ms;
    float: right;
    margin-right: 30px;
    display:inline-block;
    margin-top: 17px;
    
}

    .text-box {

        padding: 5px;
        border: 1px solid black;
    }

    .workouts-title {
        font-size: 50px;
        margin-left: 20px;
        display: inline-block;
        
    }

    .para-one {
        display: inline-block;
        float: right;
        margin-right: 20px;
        margin-top: 50px;
    }

    .list {
        list-style-type: circle;
        margin-left: 50px;
    }

    li {
        padding: 40px;
        font-size: 20px;
    }

    .para-two {
        float: right;
        margin-right: 20px;
    }

    @media (max-width: 1250px) {
        .container {
            grid-template-areas:
                "s"
                "m";
            grid-template-columns: 1fr;
        }
        .side-menu {
            flex-direction: row;
            margin: 0rem;
        }
    }

    @media (max-width: 800px) {
        .side-menu {
            font-size: 1rem;
        }
    }

    @media (max-width: 500px) {
        input, select {
            font-size: 1rem;
        }
        .side-menu {
            font-size: .8rem;
        }
    }
